<div class="popup">
  <div class="popup__container">
    <h2 class="popup__title"><span>Стать курьером</span></h2>
    <div class="popup__content">
      <p> Предпочитаете движение и насыщенный событиями, новыми знакомствами стиль жизни, тогда вам точно к нам!
        Развивающаяся и перспективная компания NOK Delivery приглашает на работу курьеров и операторов.
        Мы открываем новые города и знакомимся с поставщиками практически ежедневно.</p>
    </div>
    <h2 class="popup__title">Работа в <span>NOK Delivery</span> – это:</h2>
    <ul class="popup__list">
      <li class="popup__item">
        <div class="popup__icon"></div>
        <span class="popup__text">отличное начало карьеры с последующей перспективой роста;</span>
      </li>
      <li class="popup__item">
        <div class="popup__icon"></div>
        <span class="popup__text">комфортабельный офис, расположенный в центре города;</span>
      </li>
      <li class="popup__item">
        <div class="popup__icon"></div>
        <span class="popup__text">современное оборудование и техника;</span>
      </li>
      <li class="popup__item">
        <div class="popup__icon"></div>
        <span class="popup__text">удобный график работы;</span>
      </li>
      <li class="popup__item">
        <div class="popup__icon"></div>
        <span class="popup__text">достойная зарплата (+ бонусная система);</span>
      </li>
    </ul>
    <h2 class="popup__subtitle">Обязанности курьера:</h2>
    <ul class="popup__list">
      <li class="popup__item">
        <div class="popup__icon"></div>
        <span class="popup__text">отличное начало карьеры с последующей перспективой роста;</span>
      </li>
      <li class="popup__item">
        <div class="popup__icon"></div>
        <span class="popup__text">комфортабельный офис, расположенный в центре города;</span>
      </li>
      <li class="popup__item">
        <div class="popup__icon"></div>
        <span class="popup__text">современное оборудование и техника;</span>
      </li>
    </ul>
    <h2 class="popup__subtitle">Мы ожидаем от Вас:</h2>
    <ul class="popup__list">
      <li class="popup__item">
        <div class="popup__icon"></div>
        <span class="popup__text">отличное начало карьеры с последующей перспективой роста;</span>
      </li>
      <li class="popup__item">
        <div class="popup__icon"></div>
        <span class="popup__text">комфортабельный офис, расположенный в центре города;</span>
      </li>
      <li class="popup__item">
        <div class="popup__icon"></div>
        <span class="popup__text">современное оборудование и техника;</span>
      </li>
      <li class="popup__item">
        <div class="popup__icon"></div>
        <span class="popup__text">удобный график работы;</span>
      </li>
    </ul>

    <h2 class="popup__title">Для трудоустройства, заполните <span>данную анкету</span>.</h2>
  </div>
</div>