body {
  font-family: $Circe;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: var(--color-dark);
  background-color: var(--color-white);
  position: relative;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  padding-top: 103px;
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1920px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 550ms ease;
  }
}

// Scroll Top
.scroll {
  position: fixed;
  right: 16px;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  border-radius: 8px;
  transition: 400ms;
  background-color: var(--color-accent);
  z-index: 100;
  opacity: 0.3;
  visibility: hidden;
  z-index: 999;

  svg {
    transform: rotate(-90deg);
    width: 30px;
    height: 30px;
    fill: var(--color-unaccent);
  }

  &:hover {
    opacity: 1;
  }

  &.show-scroll {
    visibility: visible;
    bottom: 25px;
  }
}

// .logo {
//   display: block;
//   width: 132px;
//   height: 85px;
// }

.text-accent {
  color: var(--color-green);
}

.btn {
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  background: var(--color-blue-dark);
  color: var(--color-white);
  padding: 18px 21px;
  border-radius: 150px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #f3f3f3;
  border-radius: 50%;
  top: 70%;
  transform: translateY(-50%);
  transition: 250ms ease;

  &:hover {}

  &::after {
    @include pseudoElDefault();
    width: 45px;
    height: 23px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-green);
    transition: 250ms ease;
  }
}

.swiper-button-next {
  &:hover {
    transform: translateY(-50%) translateX(-7px);

    &::after {
      right: -20px;
    }
  }

  right: -67px;

  &::after {
    right: 0;
    @include maskImage(url('../images/sprite.svg#arrow'), cover);
  }
}

.swiper-button-prev {
  left: -67px;

  &:hover {
    transform: translateY(-50%) translateX(7px);

    &::after {
      left: -20px;
    }
  }

  &::after {
    left: 0;
    @include maskImage(url('../images/sprite.svg#arrow'), cover);
    transform: translateY(-50%) rotate(180deg);
  }
}