body {
  font-family: $Circe;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: var(--color-dark);
  background-color: var(--color-white);
  position: relative;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  padding-top: 103px;
  height: 100%;
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1920px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 550ms ease;
  }
}

// Scroll Top
.scroll {
  position: fixed;
  right: 16px;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  border-radius: 8px;
  transition: 400ms;
  background-color: var(--color-accent);
  z-index: 100;
  opacity: 0.3;
  visibility: hidden;
  z-index: 999;

  svg {
    transform: rotate(-90deg);
    width: 30px;
    height: 30px;
    fill: var(--color-unaccent);
  }

  &:hover {
    opacity: 1;
  }

  &.show-scroll {
    visibility: visible;
    bottom: 25px;
  }
}

.text-accent {
  color: var(--color-green);
}

.btn {
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  padding: 18px 21px;
  border-radius: 150px;
  transition: 150ms ease;

  &:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  }

  &:hover {
    transform: translateY(3px);
  }

  &:active {
    box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
    transform: scale(0.98);
  }
}

body.dark-theme {
  --color-white: #302728;
  --color-dark: #bebebe;
  --color-blue-dark: #5187c5;
  --color-background: #222;
  --gradient: linear-gradient(225deg, rgb(32, 28, 28) 0%, #2e1d1f 98.23%);

  .scroll-header {
    background: linear-gradient(225deg, rgb(47, 43, 43) 0%, #412528 98.23%);
  }

  .hero {
    color: #bebebe;

    @include breakpointsMaxW($bp-container) {
      &__offer {
        background-color: #38292b;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .menu {
    &__link {
      color: #bebebe;
    }

    &__tools {
      color: #bebebe;
    }
  }

  .advantages {
    &__item {
      &::before {
        background-color: #444444;
      }

      box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
    }
  }

  .about-text {
    background: linear-gradient(225deg, rgb(32, 28, 28) 0%, #2e1d1f 98.23%);
    color: #bebebe;
  }

  .product-categories-card {
    &:hover {
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    }

    &__overlay {
      background-color: #251717;

      &::after,
      &::before {
        background-color: #dedede;
      }
    }

    &__name {
      color: #bebebe;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: #251717;

    &::after {
      background-color: #bebebe;
    }
  }

  .download {
    &__title {
      span {
        color: #1e4e85;
      }
    }

    &__number {
      color: #bebebe;
      background-color: #1e4e85;
    }
  }

  .cooperation-card {
    &__name {
      color: #bebebe;
    }

    &::after {
      background: initial;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
      filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.5));
    }

    &::before {
      background: initial;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &__text {
      color: #ebebeb;
    }
  }

  .contacts {
    &__info {
      background-color: #382628;
      color: #bebebe;
    }

    &__name {
      color: #ebebeb;
    }

    &__icon {
      background-color: #000;

      &::before {
        background-color: #ebebeb;
      }
    }

    &__btn {
      background-color: #325F93;
      color: #ebebeb;
    }
  }

  .socials {
    &__link {
      background-color: #000;

      &::after {
        background-color: #bebebe;
      }
    }
  }

  .footer {
    color: #bebebe;

    &__bottom {
      border-color: #444;
    }
  }

  .toggle-theme {
    border: 1px solid #999;

    &__circle {
      background-color: #999;
    }

    @include breakpointsMaxW($bp-991) {
      border: 1px solid #999;

      .toggle-theme__circle {
        background-color: #999;
      }
    }
  }

  .simplebar-scrollbar::before {
    background-color: #ebebeb;
  }
}

.toggle-theme {
  position: absolute;
  background-color: transparent;
  z-index: 100;
  width: 50px;
  height: 26px;
  top: 150px;
  right: 15px;
  border: 1px solid var(--color-blue);
  border-radius: 100px;
  padding: 1px 3px;
  transition: 150ms ease-in;

  &:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  }

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
    transform: scale(0.98);
  }

  &__circle {
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--color-blue);
    border-radius: 50%;
    transition: 200ms ease-in;
  }

  &.active {
    .toggle-theme__circle {
      transform: translateX(20px);
    }
  }

  @include breakpointsMaxW($bp-991) {
    position: initial;
    margin-left: auto;
    margin-right: 30px;
    top: 0;
    right: 0;
    width: 40px;
    height: 20px;
    border: 1px solid var(--color-blue);

    .toggle-theme__circle {
      width: 14px;
      height: 14px;
      background-color: var(--color-blue);
    }
  }
}

.simplebar-scrollbar::before {
  background-color: var(--color-green);
}

.check {
  position: relative;
  cursor: pointer;
  padding-left: 53px;
  max-width: 120px;
  width: 100%;
  height: 45px;

  &__input {
    position: absolute;
    appearance: none;
    border: none;
  }

  &__box {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #EEEEEE;

    &:focus {
      border: 1px solid var(--color-blue-dark);
    }

    &:hover {
      background-color: rgba(63, 221, 134, 0.2);
    }

    &:active {
      border: 1px solid var(--color-blue-dark);
      background-color: rgba(35, 83, 138, 0.2);
    }
  }

  &__label {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }

  &__input:checked+&__box {
    background-image: url('../images/icons/check.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

// * Input type file
.input-file {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
  height: 44px;
  display: flex;
  align-items: flex-start;

  &__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

  &__button {
    max-width: 295px;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    color: var(--color-dark);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    border-radius: 150px;
    cursor: pointer;
    padding: 10px 40px;

    &:focus {
      border: 1px solid var(--color-blue-dark);
    }

    &:hover {
      background-color: rgba(63, 221, 134, 0.2);
    }

    &:active {
      border: 1px solid var(--color-blue-dark);
      background-color: rgba(35, 83, 138, 0.2);
    }
  }

  &__text {
    position: relative;
    padding-left: 23px;

    &::after {
      @include pseudoElDefault();
      width: 15px;
      height: 15px;
      @include maskImage(url('../images/icons/add-file.svg'), contain);
      background-color: var(--color-dark);
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// * ==== Scroll Top
.scroll {
  position: fixed;
  right: 16px;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  border-radius: 8px;
  transition: 400ms;
  background-color: var(--color-green);
  z-index: 1000;
  opacity: 0.3;
  visibility: hidden;

  svg {
    transform: rotate(-90deg);
    width: 30px;
    height: 30px;
    fill: var(--color-white);
  }

  &:hover {
    opacity: 1;
  }

  &.show-scroll {
    visibility: visible;
    bottom: 25px;
  }
}