// Color 
:root {
  --color-black: #000;
  --color-white: #fff;

  --color-blue: #325F93;
  --color-green: #2BC36F;
  --color-dark: #444444;
  --color-blue-dark: #23538A;
}

// * breakpointsMaxW
$bp-container: 1170px;
$bp-991: 991px;
$bp-768: 768px;
$bp-650: 650px;
$bp-576: 576px;
$bp-420: 420px;

// *=== Fonts
$Gilroy: 'Gilroy';

// * ==== Z-Index
$z-1: 1;
$z-5: 5;
$z-10: 10;
$z-100: 100;