.footer {
  background: var(--gradient);
  color: var(--color-white);

  &__top {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom {
    border-top: 1px solid var(--color-white);
  }

  &__bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 17px;
  }

  &__action {}

  &__text {
    font-size: 15px;
    line-height: 30px;
  }

  &__copy {
    font-size: 14px;
    line-height: 18px;
  }

  &__scammer {
    width: 30px;
    height: 30px;
    @include backgroundImage(url('../images/icons/scammer.svg'), cover);
  }
}