.about-text {
  background: linear-gradient(225deg, #2086A6 0%, #2BC36F 98.23%);
  color: var(--color-white);
  padding: 32px 0;

  &__text {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    max-width: 932px;
    margin: 0 auto;
  }
}