.about {
  padding-top: 67px;
  padding-bottom: 67px;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 70px;

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 28px;

    @include breakpointsMaxW($bp-768) {
      max-width: 370px;
      justify-self: center;
    }
  }

  &__img {
    margin-bottom: 17px;
    width: 120px;
    height: 120px;
    background: rgba(50, 95, 147, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    position: relative;
    z-index: 1;

    &::before {
      @include pseudoElDefault();
      width: 140px;
      height: 130px;
      top: -5px;
      right: 5px;
      @include maskImage(url('../images/icons/decor-image.svg'), contain);
      background-color: var(--color-blue-dark);
      z-index: -1;
    }

    &::after {
      @include pseudoElDefault();
      width: 120px;
      height: 120px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include maskImage(url('../images/icons/location.svg'), contain);
      background-color: var(--color-green);
      z-index: -1;
    }
  }
}