.categories {
  padding: 50px 0;

  @include breakpointsMaxW($bp-container) {
    padding-top: calc(30px + (50 - 30) * ((100vw - 375px) / (1170 - 375)));
    padding-bottom: calc(30px + (50 - 30) * ((100vw - 375px) / (1170 - 375)));
  }

  &__goods {
    position: relative;
  }

  &__slider {
    min-width: 0;
    padding-top: 100px;
    min-height: 345px;
    margin-bottom: 25px;

    @include breakpointsMaxW(1400px) {
      padding-bottom: 80px;
    }

    @include breakpointsMaxW($bp-container) {
      padding-top: calc(50px + (100 - 50) * ((100vw - 375px) / (1170 - 375)));
      padding-bottom: calc(50px + (80 - 50) * ((100vw - 375px) / (1170 - 375)));
    }
  }

  &__item {
    max-width: 100%;
    height: 100%;
  }

  &__text {
    font-size: 18px;
    line-height: 28px;

    span {
      font-weight: 700;
      display: inline-block;
      margin-bottom: 3px;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #f3f3f3;
  border-radius: 50%;
  top: 70%;
  transform: translateY(-50%);
  transition: 250ms ease;

  @include breakpointsMaxW(1400px) {
    top: initial;
    bottom: -7%;
  }

  &::after {
    @include pseudoElDefault();
    width: 45px;
    height: 23px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-green);
    transition: 250ms ease;
  }
}

.swiper-button-next {
  @include breakpointsMaxW(1400px) {
    right: 0;
    left: 52%;
  }

  &:hover {
    transform: translateY(-50%) translateX(-7px);

    &::after {
      right: -20px;
    }
  }

  right: -67px;

  &::after {
    right: 0;
    @include maskImage(url('../images/sprite.svg#arrow'), cover);
  }

  @include breakpointsMaxW($bp-991) {
    transform: translateY(-50%) translateX(-7px);

    &::after {
      right: -20px;
    }
  }
}

.swiper-button-prev {
  @include breakpointsMaxW(1400px) {
    left: initial;
    right: 52%;
  }

  left: -67px;

  &:hover {
    transform: translateY(-50%) translateX(7px);

    &::after {
      left: -20px;
    }
  }

  &::after {
    left: 0;
    @include maskImage(url('../images/sprite.svg#arrow'), cover);
    transform: translateY(-50%) rotate(180deg);
  }

  @include breakpointsMaxW($bp-991) {
    transform: translateY(-50%) translateX(7px);

    &::after {
      left: -20px;
    }
  }
}