<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a class="footer__logo logo" href="#" data-aos="fade-right">
        <img src="images/logo-mobile.svg" alt="Логотип">
      </a>

      <div class="footer__tools" data-aos="fade-left">
        <p class="footer__text">Скачать приложение:</p>
        <div class="footer__actions">
          <button class="footer__action footer__action--android" type="button"
            aria-label="Скачать в гугл плэй"></button>
          <button class="footer__action footer__action--ios" type="button" aria-label="Скачать в эпп стор"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-wrapper">
        <div class="footer__copy">NOK 2021 © Все права защищены</div>
        <div class="footer__scammer"></div>
      </div>
    </div>
  </div>
</footer>