<header class="header">
  <div class="container">
    <nav class="header__wrapper">
      <a class="header__logo logo" href="#">
        <picture>
          <source srcset="images/logo-mobile.svg" media="(max-width: 1170px)">
          <img src="images/logo.svg" alt="Логотип">
        </picture>
      </a>

      <div class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">О преложении</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Доставка</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Скачать приложение</a>
          </li>
          <li class="menu__item">
            <a class="menu__link courier-btn" href="#">Курьерам</a>
          </li>
          <li class="menu__item">
            <a class="menu__link partner-btn" href="#">Стать партнером</a>
          </li>
        </ul>
        <div class="menu__tools">
          <a href="tel:1254586589">+125 458 65 89</a>
          <a class="btn menu__back-call" href="#">Обратный звонок</a>
        </div>
      </div>

      <button class="header__toggle" type="button" aria-label="Открыть меню">
        <div class="header__toggle-dots">
          <span class="header__toggle-dot"></span>
          <span class="header__toggle-dot"></span>
          <span class="header__toggle-dot"></span>
          <span class="header__toggle-dot"></span>
        </div>
      </button>
    </nav>
  </div>
</header>