<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer" data-aos="fade-up">
        <span class="hero__overtitle">Хотите чего-то большего, чем просто еды? </span>
        <h1 class="hero__title">Сделайте <span class="text-accent"> «knock- knock»</span>,
          и мы едем к вам!</h1>
        <p class="hero__text"><span>NOK Delivery</span> - это не только доставка еды и продуктов питания, но и напитков,
          одежды,
          бытовой химии, косметики и парфюмерии, спортивного питания, лекарств, подарков, цветов, товаров для детей и
          прочего.</p>

        <button class="hero__btn btn" type="button">Скачать приложение</button>
      </div>
    </div>
  </div>
  <div class="hero__overlay" data-aos="fade-down"></div>
</section>