<section class="categories" data-aos="zoom-in">
  <div class="container">
    <h2 class="visually-hidden">Категории товаров</h2>
    <div class="categories__wrapper">
      <div class="categories__goods">

        <div class="categories__slider swiper">
          <ul class="swiper-wrapper categories__items">
            <li class="categories__item swiper-slide">
              <article class="product-categories-card">
                <div class="product-categories-card__img">
                  <img src="images/content/categories/1.png" alt="Супермаркеты">
                </div>
                <div class="product-categories-card__info">
                  <div class="product-categories-card__overlay"></div>
                  <div class="product-categories-card__details">
                    <h3 class="product-categories-card__name">
                      <a href="#">Супермаркеты</a>
                    </h3>
                    <a class="product-categories-card__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="categories__item swiper-slide">
              <article class="product-categories-card">

                <div class="product-categories-card__img">
                  <img src="images/content/categories/1.png" alt="Супермаркеты">
                </div>
                <div class="product-categories-card__info">
                  <div class="product-categories-card__overlay"></div>
                  <div class="product-categories-card__details">
                    <h3 class="product-categories-card__name">
                      <a href="#">Супермаркеты</a>
                    </h3>
                    <a class="product-categories-card__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="categories__item swiper-slide">
              <article class="product-categories-card">

                <div class="product-categories-card__img">
                  <img src="images/content/categories/1.png" alt="Супермаркеты">
                </div>
                <div class="product-categories-card__info">
                  <div class="product-categories-card__overlay"></div>
                  <div class="product-categories-card__details">
                    <h3 class="product-categories-card__name">
                      <a href="#">Супермаркеты</a>
                    </h3>
                    <a class="product-categories-card__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="categories__item swiper-slide">
              <article class="product-categories-card">

                <div class="product-categories-card__img">
                  <img src="images/content/categories/1.png" alt="Супермаркеты">
                </div>
                <div class="product-categories-card__info">
                  <div class="product-categories-card__overlay"></div>
                  <div class="product-categories-card__details">
                    <h3 class="product-categories-card__name">
                      <a href="#">Супермаркеты</a>
                    </h3>
                    <a class="product-categories-card__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="categories__item swiper-slide">
              <article class="product-categories-card">
                <div class="product-categories-card__img">
                  <img src="images/content/categories/1.png" alt="Супермаркеты">
                </div>
                <div class="product-categories-card__info">
                  <div class="product-categories-card__overlay"></div>
                  <div class="product-categories-card__details">
                    <h3 class="product-categories-card__name">
                      <a href="#">Супермаркеты</a>
                    </h3>
                    <a class="product-categories-card__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="categories__item swiper-slide">
              <article class="product-categories-card">

                <div class="product-categories-card__img">
                  <img src="images/content/categories/1.png" alt="Супермаркеты">
                </div>
                <div class="product-categories-card__info">
                  <div class="product-categories-card__overlay"></div>
                  <div class="product-categories-card__details">
                    <h3 class="product-categories-card__name">
                      <a href="#">Супермаркеты</a>
                    </h3>
                    <a class="product-categories-card__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="categories__item swiper-slide">
              <article class="product-categories-card">

                <div class="product-categories-card__img">
                  <img src="images/content/categories/1.png" alt="Супермаркеты">
                </div>
                <div class="product-categories-card__info">
                  <div class="product-categories-card__overlay"></div>
                  <div class="product-categories-card__details">
                    <h3 class="product-categories-card__name">
                      <a href="#">Супермаркеты</a>
                    </h3>
                    <a class="product-categories-card__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="categories__item swiper-slide">
              <article class="product-categories-card">

                <div class="product-categories-card__img">
                  <img src="images/content/categories/1.png" alt="Супермаркеты">
                </div>
                <div class="product-categories-card__info">
                  <div class="product-categories-card__overlay"></div>
                  <div class="product-categories-card__details">
                    <h3 class="product-categories-card__name">
                      <a href="#">Супермаркеты</a>
                    </h3>
                    <a class="product-categories-card__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="categories__item swiper-slide">
              <article class="product-categories-card">
                <div class="product-categories-card__img">
                  <img src="images/content/categories/1.png" alt="Супермаркеты">
                </div>
                <div class="product-categories-card__info">
                  <div class="product-categories-card__overlay"></div>
                  <div class="product-categories-card__details">
                    <h3 class="product-categories-card__name">
                      <a href="#">Супермаркеты</a>
                    </h3>
                    <a class="product-categories-card__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="categories__item swiper-slide">
              <article class="product-categories-card">

                <div class="product-categories-card__img">
                  <img src="images/content/categories/1.png" alt="Супермаркеты">
                </div>
                <div class="product-categories-card__info">
                  <div class="product-categories-card__overlay"></div>
                  <div class="product-categories-card__details">
                    <h3 class="product-categories-card__name">
                      <a href="#">Супермаркеты</a>
                    </h3>
                    <a class="product-categories-card__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="categories__item swiper-slide">
              <article class="product-categories-card">

                <div class="product-categories-card__img">
                  <img src="images/content/categories/1.png" alt="Супермаркеты">
                </div>
                <div class="product-categories-card__info">
                  <div class="product-categories-card__overlay"></div>
                  <div class="product-categories-card__details">
                    <h3 class="product-categories-card__name">
                      <a href="#">Супермаркеты</a>
                    </h3>
                    <a class="product-categories-card__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="categories__item swiper-slide">
              <article class="product-categories-card">

                <div class="product-categories-card__img">
                  <img src="images/content/categories/1.png" alt="Супермаркеты">
                </div>
                <div class="product-categories-card__info">
                  <div class="product-categories-card__overlay"></div>
                  <div class="product-categories-card__details">
                    <h3 class="product-categories-card__name">
                      <a href="#">Супермаркеты</a>
                    </h3>
                    <a class="product-categories-card__btn btn" href="#">Подробнее</a>
                  </div>
                </div>
              </article>
            </li>
          </ul>
        </div>
        <button class="swiper-button-next" type="button" aria-label="Посмотреть следующий слайд"></button>
        <button class="swiper-button-prev" type="button" aria-label="Посмотреть предыдущий слайд"></button>
      </div>
      
      <div class="categories__text">
        <span>«Экспресс курьер»- оперативная доставка документов, товаров или подарков.</span>
        <p>Предоставляем уникальную услугу «Экспресс курьер» для наших партнёров и клиентов. Вам не нужно делегировать
          поручения сотрудникам по работе или знакомым. Занимайтесь работой, или отдыхайте, а наш курьер максимально
          быстро доставит товар или документы адресату с соблюдением конфиденциальности и сохранности.</p>
      </div>
    </div>
  </div>
</section>