<section class="contacts">
  <h2 class="visually-hiddem">Контакты</h2>
  <iframe
    src="https://yandex.ru/map-widget/v1/?um=constructor%3A344cc932811838e4c122401b457893b0bf176b1f5efbd0b718f6f942b4060761&amp;source=constructor"
    width="100%" height="630" frameborder="0"></iframe>
  <div class="container">
    <div class="contacts__wrapper">
      <div class="contacts__info" data-aos="zoom-in">
        <div class="contacts__contacts">
          <h3 class="contacts__name">Наши контакты</h3>
          <ul class="contacts__list">
            <li class="contacts__item">
              <a class="contacts__link contacts__link--location" href="#">
                <span class="contacts__icon"></span>
                <span>Узбекистан, Ташкент, Мирабадский район, ул. Айбека, 61</span>
              </a>
            </li>
            <li class="contacts__item">
              <a class="contacts__link contacts__link--tel" href="telto:998712059001">
                <span class="contacts__icon"></span>
                <span>+998 71-205-90-01</span>
              </a>
            </li>
            <li class="contacts__item">
              <a class="contacts__link contacts__link--mail" href="mailto:office@nokdelivery.uz">
                <span class="contacts__icon"></span>
                <span>office@nokdelivery.uz</span>
              </a>
            </li>
            <li class="contacts__item">
              <a class="contacts__link contacts__link--schedule" href="#">
                <span class="contacts__icon"></span>
                <span>Пн-Вс 00:00 - 24:00</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="contacts__socials">
          <h3 class="contacts__name">Мы в социальных сетях</h3>
          <ul class="socials__list">
            <li class="socials__item">
              <a class="socials__link socials__link--facebook" href="#" aria-label="Наш фэйсбук"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--instagram" href="#" aria-label="Наш инстаграм"></a>
            </li>
          </ul>
        </div>

        <button class="contacts__btn btn" type="button">написать нам</button>
      </div>
    </div>
  </div>
</section>