<section class="steps">
  <div class="container">
    <div class="steps__top">
      <h2 class="steps__title">
        Сделать заказ стало ещё проще
      </h2>
      <span class="steps__descr">
        Три простых шага для работы с нами!
      </span>
    </div>

    <ul class="steps__items">
      <li class="steps__item">
        <div class="steps-card steps-card--download">
          <div class="steps-card__img"></div>
          <h3 class="steps-card__name">Загрузите наше приложение</h3>
          <p class="steps-card__text">Укажите свои контактные данные.</p>
        </div>
      </li>
      <li class="steps__item">
        <div class="steps-card steps-card--compare">
          <div class="steps-card__img"></div>
          <h3 class="steps-card__name">Сравните и сэкономьте.</h3>
          <p class="steps-card__text">Выберите понравившиеся товары по выгодным ценам и оформите заказ через приложение или по телефону.</p>
        </div>
      </li>
      <li class="steps__item">
        <div class="steps-card steps-card--service">
          <div class="steps-card__img"></div>
          <h3 class="steps-card__name">Получите лучший сервис.</h3>
          <p class="steps-card__text">Отлично проведите время с родственниками, коллегами и друзьями. Мы предоставим все необходимое для вашего отдыха и комфорта.</p>
        </div>
      </li>
    </ul>
  </div>
</section>