<section class="about">
  <div class="container">
    <h2 class="visually-hidden">Про нас</h2>
    <ul class="about__items">
      <li class="about__item">
        <div class="about__img"></div>
        <p class="about__text">Для просмотра доступных заведений, предоставьте доступ к вашему местоположению</p>
      </li>
      <li class="about__item">
        <div class="about__img"></div>
        <p class="about__text">Курьеры купят и доставят продукты за считанные минуты</p>
      </li>
      <li class="about__item">
        <div class="about__img"></div>
        <p class="about__text">Заказывайте из любого магазина или ресторана в вашем городе</p>
      </li>
    </ul>
  </div>
</section>