<section class="download">
  <div class="container">
    <h2 class="download__title"><span>Скачайте приложение</span>, чтобы воспользоваться сервисом доставки.</h2>

    <div class="download__wrapper">
      <div class="download__col download__col--android">
        <span class="download__accent">Для пользователей Android.</span>
        <ul class="download__list">
          <li class="download__item">
            <span class="download__number">1</span>
            <p class="download__text">Откройте Google <span> Play Market </span> на смартфоне.</p>
          </li>
          <li class="download__item">
            <span class="download__number">2</span>
            <p class="download__text">Найдите и выберите наше приложение.</p>
          </li>
          <li class="download__item">
            <span class="download__number">3</span>
            <p class="download__text">Нажмите на кнопку <span> «Установить»</span>. </p>
          </li>
          <li class="download__item">
            <span class="download__number">4</span>
            <p class="download__text">Завершите операцию, следуя инструкциям на экране.</p>
          </li>
        </ul>
        <a class="download__btn" href="#" aria-label="Загрузить в гугл плэй"></a>
      </div>
      <div class="download__preview" style="background-image: url('images/content/download-bg.png');"></div>
      <div class="download__col download__col--ios">
        <span class="download__accent">Для пользователей Android.</span>
        <ul class="download__list">
          <li class="download__item">
            <p class="download__text">Откройте Google <span> Play Market </span> на смартфоне.</p>
            <span class="download__number">1</span>
          </li>
          <li class="download__item">
            <p class="download__text">Найдите и выберите наше приложение.</p>
            <span class="download__number">2</span>
          </li>
          <li class="download__item">
            <p class="download__text">Нажмите на кнопку <span> «Установить»</span>. </p>
            <span class="download__number">3</span>
          </li>
          <li class="download__item">
            <p class="download__text">Завершите операцию, следуя инструкциям на экране.</p>
            <span class="download__number">4</span>
          </li>
        </ul>
        <a class="download__btn" href="#" aria-label="Загрузить в эпп стор"></a>
      </div>

      <div class="download__btns">
        <a class="download__btn" href="#" aria-label="Загрузить в гугл плэй"></a>
        <a class="download__btn" href="#" aria-label="Загрузить в эпп стор"></a>
      </div>

    </div>
  </div>
</section>
