<section class="advantages" id="about">
  <div class="container">
    <h2 class="visually-hidden">Наши примущества</h2>
    <ul class="advantages__items" data-aos="flip-up">
      <li class="advantages__item">
        <p class="advantages__text">Всегда качественные товары и свежие
          продукты</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text">С нами удобно и выгодно всем</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text">Доставка 24 часа в сутки и в кратчайшие сроки</p>
      </li>
    </ul>
  </div>
</section>